#cms
  #wrapper
    p Welcome to The Store Decor CMS
    div#preview_wrapper
      img#file_preview
    form(action="api/cms/upload" method="POST" enctype="multipart/form-data")
      input(type="file" name="file_to_upload")#file_select
      input(type="button" value="upload")#file_upload
