#cms
  #wrapper_top
    p Welcome to The Store Decor Co CMS
    div#preview_wrapper
      img#file_preview
    form(action="api/cms/images" method="POST" enctype="multipart/form-data")
      input(type="file" name="file_to_upload")#file_select
      input(type="button" value="upload")#file_upload
    p slideshow / sm_slideshow --- is_a / rep. / b&w
    p Add Capa. Category
    input(type="button" value="+")#capa_button
    input(type="text" style="color:black;")#capa_input
    p Add Prod. Category
    input(type="button" value="+")#prod_button 
    input(type="text" style="color:black;")#prod_input
  #wrapper_bottom
    #images_col
    #capas_col
    #prods_col
