div.container-fluid
  div.row
    div.col-md-6
      p#title Welcome to The SDC CMS
      hr
      p Image
      hr
      div#image
      div#imgButtons
        button.btn.btn-primary.raised Upload New Image
      div#imgList
    div.col-md-3
      hr
      p Fabrication
      hr
      div#fabList
    div.col-md-3
      hr
      p Category
      hr
      div#catList
