div.container-fluid
  div.row
    div.col-md-6
      hr
      p Image
      hr
      div#image
    div.col-md-3
      hr
      p Fabrication
      hr
    div.col-md-3
      hr
      p Category
      hr
