
html,
.ng-scope
  height: 100%

.row
  height: 100%
  color: white
  font-size: 20pt
  font-weight: bold
  text-shadow: -3px 0 black, 0 1px black, 3px 0 black, 0 -3px black

  p
    margin-top: -15pt
    margin-bottom: -15pt

  .col-md-6 p,
  .col-md-6 hr
    width: 50%
    margin-left: 50%

  .col-md-6 hr
    width: 45%
    margin-left: 53%

  p#title
    font-family: "Comic Sans MS", cursive, sans-serif
    font-size: 19pt
    margin-left: 1pt
    text-align: left
    color: white
    position: fixed
    margin-top: 15pt
    margin-bottom: 0

  div
    height: 100%
    min-height: 100%
    text-align: center

  div:nth-of-type(1)
    background-color: #07123A
  div:nth-of-type(2)
    background-color: #172557
  div:nth-of-type(3)
    background-color: #07123A

#image
  background-color: black
  border-style: solid
  border-width: 0.5pt
  height: 40%
  width: 50%
  min-height: 40%
  cursor: pointer
  float: left

#imgButtons
  width: 50%
  height: 40%
  min-height: 40%
  margin-top: 40%
  position: absolute
  background-color: #07123A
  padding: 1em
  text-shadow: none

#imgList
  background-color: #172557
  width: 45%
  height: 85%
  min-height: 85%
  margin-left: 3%
  overflow: auto
  float: left

#fabList,
#catList
  width: 95%
  height: 85%
  min-height: 85%
  margin-left: 3%
  overflow: auto

#fabList
  background-color: #07123A

#catList
  background-color: #172557

.btn
  padding: 14px 24px
  border: 0 none
  font-weight: 700
  letter-spacing: 1px
  text-transform: uppercase

.btn:focus,
.btn:active:focus,
.btn.active:focus
    outline: 0 none

.btn-primary.raised
  box-shadow: 0 3px 0 0 #007299

.btn-primary.raised:active, .btn-primary.raised.active
  background: #33a6cc
  box-shadow: none
  margin-bottom: -3px
  margin-top: 3px
