.container#wrapper.visible-lg
  #content
    .row
      .col-md-4#col1
        #tagline Welcome to The Store Decor Co. CMS!
        img#preview
        #upload Image upload form goes here
      .col-md-4#col2
        
      .col-md-4#col3
      .col-md-4#col4
.container.visible-xs.visible-sm.visible-md#smMessage
  | Please use a device with a larger screen or zoom out. Thanks.
