
body {
  background-color: #1352A5;
  #wrapper {
    position: relative;
    #content {
      height: 100%;
      position: absolute;
      border-radius: 20pt;
      left: 50%;
      background-color: #F1EFE6;
      #col1 {
        text-align: center;
        #tagline {
          width: 100%;
          text-decoration: underline;
          color: #1352A5;
          font-size: 18px;
          font-weight: bolder;
        }
        #preview {
          width: 95%;
          margin-left: 2.5%;
          height: 300px;
          background-color: black;
        }
      }
      #col2 {}
      #col3 {}
      #col4 {}
    }
  }
  #smMessage {
    font-weight: bolder;
    color: #F1EFE6;
    font-size: 30px;
    text-align: center;
  }
}
