div.container-fluid#wrapper
  div#slidemenu.hidden
    h1#slideHome Home
    hr
    h1#slideCapa Capabilities
    hr
    h1#slideProd Products
    hr
    h1#slideServ Services
    hr
    h1#slideAbou About Us
    hr
    h1#slideCont Contact
  div.row.clearfix#top
    .column.visible-lg.visible-md
      div.col-md-12#slide
    .visible-sm.visible-xs
      div.col-md-12#slideSM
  div.text-center.visible-lg.visible-md
    #tagline 
      h1 Your Brand. Your Vision.
  .visible-lg
    div.row.clearfix.copyText
      div.col-md-1
      div.col-md-10
        p.topP.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFont
          p.text-center
            | We focus on fulfilling your vision for an extraordinary customer experience. Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate out knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  .visible-md
    div.row.clearfix.copyTextM
      div.col-md-1
      div.col-md-10
        p.topP.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFontM
          p.text-center
            | We focus on fulfilling your vision for an extraordinary customer experience. Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate out knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  .visible-sm
    div.row.clearfix#copyTextSM1
      div.col-md-1
      div.col-md-10
        p#topPSM1.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFontSM1
          p.text-center
            | We focus on fulfilling your vision for an extraordinary customer experience. Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate out knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  .visible-xs
    div.row.clearfix#copyTextSM
      div.col-md-1
      div.col-md-10
        p#topPSM.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFontSM
          p.text-center
            | Focused on fulfilling your vision for that "extraordinary customer experience". Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  div.row.clearfix
    div.col-md-12#divider
      h3.text-center.visible-lg We specialize in the conquering the impossible! Here's just some of what we can do:
  div.row.clearfix#middle
    span#homePage
      div.col-md-1
      div.col-md-10
        .row.clearfix.visible-lg.visible-md
          div.col-md-2
          div.col-md-8#slideShowContainer
            #slideShow
              #slideshowText
                h1
              img(alt = "main image" src="../../../assets/images/home_slideshow/img1.jpg")#img0
              img(alt = "side image 0 here" src="../../../assets/images/home_slideshow/img2.jpg")#img1
              img(alt = "side image 1 here" src="../../../assets/images/home_slideshow/img3.jpg")#img2
              img(alt = "side image 2 here" src="../../../assets/images/home_slideshow/img4.jpg")#img3
          div.col-md-2
        .row.clearfix.visible-lg.visible-md
          .col-md-2
          .col-md-8#slideShowButtonContainer
            .cataRow
              img#capaRow(src="../../../assets/images/home_slideshow/capa0.png")
              img#prodRow(src="../../../assets/images/home_slideshow/prod0.png")
              img#servRow(src="../../../assets/images/home_slideshow/serv0.png")
          .col-md-2
        .row.visible-sm.visible-xs#smRowContainer
          .col-md-12
            img.smCataRow#smCapaRow(src="../../../assets/images/home_slideshow/capa0.png")
          .col-md-12
            img.smCataRow#smProdRow(src="../../../assets/images/home_slideshow/prod0.png")
          .col-md-12
            img.smCataRow#smServRow(src="../../../assets/images/home_slideshow/serv0.png")
          .col-md-12
            img.smCataRow#smServRow(src="../../../assets/images/home_slideshow/about.png")
          .col-md-12
            img.smCataRow#smServRow(src="../../../assets/images/home_slideshow/contact.png")
      div.col-md-1
    span#capaPage.hidden
      div.row.clearfix.visible-lg.visible-md
        div.col-md-1
        div.col-md-10
          div.row.clearfix
            div.list.col-md-2
              #capaList
            div.tiles.col-md-8.capaTiles
            .col-md-2
      div.col-md-12.visible-sm.visible-xs
        div.row.clearfix
          div.col-md-1
          div.col-md-10
            div.row.clearfix
              div.tiles.tilesSM.col-md-12.capaTiles
          div.col-md-1
      div.row.clearfix
        #capaCopy.col-md-12
          p.text-center
            | The combination of state of the art equipment, innovative production ideas, pride 
            | in versatility and old fashioned American craftsmanship form the foundation of our 
            | fabrication talents. Additionally, a "we can do anything" attitude offers you the 
            | best assurance for success in the retail graphics industry. If you can dream it, we 
            | will discover how to build it!
    span#prodPage.hidden
      div.row.clearfix.visible-lg.visible-md
        div.col-md-1
        div.col-md-10
          div.row.clearfix
            div.list.col-md-2
              #prodList
            div.tiles.col-md-8.prodTiles
            .col-md-2
      div.col-md-12.visible-sm.visible-xs
        div.row.clearfix
          div.col-md-1
          div.col-md-10
            div.row.clearfix
              div.tiles.tilesSM.col-md-12.prodTiles
          div.col-md-1
      div.row.clearfix
        #prodCopy.col-md-12
          p.text-center
            | The Store Decor team of experts concentrates on providing products focused on promoting 
            | your brand personality. Our staff is driven by the opportunity to transform raw materials 
            | into valued items that capture and complete your brand essence. The core values of your 
            | brand will soar to new heights with the proper products and installation. Below are a few 
            | examples of our work. Don't see exactly what you're looking? Please challenge us! If we haven't 
            | built it, we will find a way. Imagination is not limitation!
    span#servPage.hidden
      .row.clearfix
        .col-md-12
          .col-md-2
          .col-md-8
            p
              | From elaborate design to comprehensive installation, you can rely on The Store 
              | Decor Company. Because your time is valuable and your full attention is required 
              | doing what you do best, allow us to do what we do best. In addition to top quality 
              | fabrication, we offer detailed strategies and solutions to improve your brand, 
              | manage your projects and enhance your decor programs.
          .col-md-2
        .col-md-12
          .col-md-2
          .col-md-8
            img(src="../../../assets/images/services_page/design.jpg")
            h1 Design
            p
              | From original concepts to collaborative design partnerships, our veteran team can 
              | realize your vision and differentiate your brand. We regularly work with corporate 
              | in-house designers, marketing groups and retail design firms. If you are a sole 
              | proprietor needing design work, Store Decor’s in-house design department is fully 
              | capable of creating your own unique display or decor package. Our designers carefully 
              | consider your desired brand program while focusing on performance, value and maximum 
              | impact. Our ultimate goal is to help you strategically align your brand, retail vision 
              | and sales strategies so that you can do what matters most—work to increase sales and 
              | profits.
          .col-md-2
        .col-md-12
          .col-md-2
          .col-md-8
            img(src="../../../assets/images/services_page/installation.jpg")
            h1 Installation
            p
              | The job is not complete until the finished pieces are attached or suspended in 
              | optimized locations for the world to see. Our internationally experienced in-house 
              | installation team understands the importance of reliability, consistency and 
              | professionalism when constructing your distinctive look. Let us convert your space 
              | into a world of enchantment!
          .col-md-2
        .col-md-12
          .col-md-2
          .col-md-8
            h1 Project Management
            p
              | Store Decor associates offer a wide range of expertise to assist in project 
              | management. Whether you need us to manage your entire project, or only specific 
              | segments, below are just a few of the services that our clients regularly utilize 
              | to improve their ROI.
          .col-md-2
        .col-md-12
          .col-md-4
          .col-md-8#kitting
            img(src="../../../assets/images/services_page/packaging.jpg")
            h1 Kitting
            p
              | The expanse of our capabilities and resources makes us a superstore for merchandising 
              | specialists and retail project managers. We will build it, print it and source it. 
              | Then, we package and deliver it where and when you need it. Do you have something 
              | special you want us to insert into your rollout or packages? No problem! We are happy 
              | to coordinate packing insertions, special finishing or complete final assembly.
        .col-md-12
          .col-md-4
          .col-md-8#rollout
            h1 Rollout / Fullfillment
            p
              | When it is time to introduce a new product, service, pricing adjustment or decor 
              | package; our flexible service offerings will support and execute any level of change 
              | management you require. The significance of any adjustment to your retail decor plan 
              | will never be overlooked by us. No project is too big or too small and we understand 
              | the meaning of the word deadline. Please contact us with your specific needs.
        .col-md-12
          .col-md-4
          .col-md-8#surveys
            img(src="../../../assets/images/services_page/survey.jpg")
            h1 Site Surveys
            p
              | Our site survey professionals understand the importance of accurate data and its 
              | relation to the successful completion of any decor project. Our survey abilities 
              | range from physically measuring fixtures or walls to blueprint review, site photography,
              | and ultimately, decor & signage location and material recommendations.
        .col-md-12
          .col-md-4
          .col-md-8#shipping
            h1 Shipping Services
            p
              | Our experienced shipping department attentively works with the best carriers to 
              | find the most economical, timely and reliable delivery services available. We also 
              | work with third party logistics firms, private carriers and international importers 
              | & exporters. From small packages to full truckloads, we can accommodate all of your
              | shipping needs
    span#abouPage.hidden
      .col-md-12
        .col-md-2
        .col-md-8
          #aboutContainer
            p#aboutHeader The Store Decor Company
            p
              | For over twenty five years The Store Decor Company has been providing visually exciting
              | interior signs, graphics and retail decor for the nation’s leading retailers. The Store 
              | Decor Company specializes in brand communication through high quality design, fabrication
              | and reliable installation.
            p
              | From warm and inviting to wild and theatrical, our high impact designs separate your 
              | enterprise from the competition.
            p
              | The Store Decor Company was founded in 1983 by Robert Potts in Rowlett, Texas, near Dallas, 
              | as a compliment to his already successful store planning company, Robert Potts and Associates, 
              | which works with independent hardware and drug retailers across the nation. Bob began his 
              | store-planning career in 1954 as a remodeling specialist at a wholesale drug company. He quickly 
              | realized the importance of adding interior signage and decor to help guide the customers to the 
              | various departments within the store. The decor items Bob conceived and produced set him apart 
              | from others in his industry and his customers apart from their competitors. These ideas and concepts 
              | are still the driving force behind The Store Decor Company today. (Read more about Bob on our meet 
              | the founder page.)
            p
              | From humble beginnings, which included one small building and two employees, Store Decor has grown 
              | to utilize 14 buildings at 120,000 square feet, over 100 team members, state of the art equipment 
              | and a creative work environment to continuously establish the standard for fabulous retail experiences.
            p
              | At Store Decor, Our mission is to create an exciting and effective trade environment for our client that 
              | enables the sale of more products and motivates the consumer to repeatedly visit.
            p#aboutHeader Meet The Founder
            img(src="../../../assets/images/")
            p
              | Robert Potts began his career with a wholesale drug company, McKesson & Robbins of Dallas, TX in 1954. 
              | His position was that of a remodeling specialist to McKesson’s customers. He was to sell drug store 
              | owners, and others if he could, on the benefits of remodeling and/or creating new stores. He was paid 
              | on the basis of the amount of profit made in the sales of store fixtures to these customers.
            p
              | During the latter 50’s and 60’s Potts developed his store decor expertise to aid him in selling store 
              | fixtures to new or remodeled stores. The store decor he designed and sold set Potts apart from his competitors. 
              | After establishing his own firm; many steady customers were developed through the use of good store decor in 
              | his customer’s retail stores. The Potts firm had something no other store fixture firm had; and the customers 
              | wanted more.
            h6 Hardware and Decor
            p
              | The first hardware retailer in the U.S. to use Potts’ store decor was Elliott’s Hardware of Dallas, TX. 
              | Mr. Jerry Elliott allowed Potts to design and install the newest and most outstanding store decor ever 
              | seen in a self-service store of any type in the U.S. Elliott’s Hardware, being a member of the nationally 
              | know True Value Hardware cooperative; gained national and international attention for the outstanding 
              | store which was opened in 1971. The store was extremely successful because of Elliott’s expertise and good 
              | interior decor. It can be said that Elliott’s pioneered the use of greeters at the front door, self service 
              | displays on all hardware items and good interior decor. This set them apart from the normal hardware store 
              | in America.
            p
              | Numerous other retailers, having visited the Elliott’s Hardware, became clients of the Potts firm. Such 
              | retailers as lumberyards, gift shops, book stores, pet stores, and even clothing stores became clients. 
              | The Foxworth-Galbraith Lumber Co. with 54 retail locations in Texas, New Mexico, Arizona, and California 
              | asked Potts to assist them in the design, fixture installation, merchandising and decorating of their new 
              | “Building Materials Centers”.  Foxworth-Galbraith also asked Potts to develop a Merchandising Training 
              | program for their employees and to conduct seminars for their employees. These seminars evolved into Potts 
              | further developed this program and provided it for numerous Retailers and Lumber /Hardware associations in 
              | many states. The importance of the use of good store decor within the retail establishment was stressed 
              | during such sessions.
            p
              | Store Decor items such as plaques, symbols, letters, stripes, and etc. had to be manufactured by Potts himself. 
              | He would rent or borrow a ‘hot wire cutter’ from a florist and then cut out the letters from Styrofoam. Eventually 
              | the manufacturing phase of store decor had to be moved to its own building in Rowlett, TX. The Potts & Associates 
              | firm’s eight sales associates kept the young company busy constructing store decor for the stores they designed or 
              | remodeled. The invention of the computerized vinyl cutting machine in the early 80’s led Potts to purchase many of 
              | these machines for his Store Decor Co. Inc. – Retail Graphics firm. These machines opened up a new and exciting field 
              | for Potts; he could now supply hundreds of interior signs for his retail customers. Later, the newly developed, 
              | computerized router was purchased making it possible to cut letters, stripes, symbols, etc. from any kind of material. 
              | Previously, the firm’s employees had to cut the letters by hand. No more, the computers were loaded with hundreds of 
              | ‘letter fonts’, symbols, shapes, and designs. 
            h6 Category Evolution
            p
              | The firm received numerous awards and recognition for its fabulously designed stores in every market of the U.S. The 
              | use of its own store decor firm was the secret to the success of the Robert P. Potts & Associates firm. Then, along 
              | came a new type of retailer known as “the category killer”. This type of retailer picked on a category of consumer 
              | products and specialized in that item with increased buying, selling, merchandising, & advertising of that category. 
              | Firms such as BizMart, PetStuff, Petco, OfficeMax, Office Depot, Staples, PetsMart, Men’s Warehouse, The Container 
              | Store, PayLess Shoe Stores, Zainy Brainy, Lil Things, all opened hundreds of stores across the U.S. They concentrated 
              | on convincing their retail customers that they had the greatest selection of product at the lowest price. To accomplish 
              | this, these retailers relied on good store decor… they had to have loads of interior signs to create the right low price 
              | impression. They had to guide the customer through the store so the customers would increase their sales with ‘impulse 
              | purchases’. The proper colors, designs, and images improved the customers’ opinion of the store; the consolidation of 
              | their purchasing power from manufacturers increased their gross margins tremendously. Hundreds of ‘Joint Venture 
              | Financing Firms’ made these category killers work… then, they took their stock public for the grand reward.
            p
              | The Store Decor Co. was one of the few U.S. firms specializing in assisting these stores to accomplish their goals. 
              | The firm’s competitors were exterior sign companies that did not have the expertise in working with retailers that 
              | the employees of Store Decor had developed through their store fixture experience with Robert P. Potts & Assocs. The 
              | firm worked with hundreds of these stores and was rewarded greatly with increased volume and profits.
            h6 One picture is worth a thousand words…
            p
              | The influx of “English as a second language” individuals to the U.S. provided an opportunity for many retailers to 
              | enjoy tremendous sales to these new citizens. Many were unable to speak or read English but Potts calculated through 
              | the use of ‘visuals’ such as sculptures or cutouts of retailer’s products; he could get around the inability of the 
              | person to read English interior signs. Potts employed sculptors with experience in carving Styrofoam. Large items such 
              | as vegetables, fruits, etc. for grocery stores; hammers, saws, tools, etc. for hardware stores were carved, painted, 
              | and installed in stores all across the U.S.; such as Elliott’s’ Hardware; Sears Hardware, Sears/Orchard Supply Hardware, 
              | and numerous building materials centers. Prescription bottles and other drug items were made for use in drug stores 
              | and pharmacies.
            p
              | Architectural firms soon discovered there was such a firm as Store Decor Co. to produce architectural sculptures. The 
              | architects wanted the sculptures for exterior use but could not pay for them to be done from stone.  That presented a 
              | problem since Styrofoam deteriorated when exposed to the weather. Potts discovered a polyurethane chemical mixture used 
              | to coat the interior of pipelines to prevent them from leaking after years of use. After numerous attempts, the firm 
              | was successful in coating Styrofoam sculptures with this material, which made the foam impervious to weather.  Numerous 
              | projects were completed and installed all over the U.S.; Store Decor has sculptures facing the Atlantic and the Pacific 
              | plus a large project in Saudi Arabia. Not to mention the face of the main building at the horse racetrack in Grand 
              | Prairie, TX. Many McDonald’s restaurants in Texas are other examples of the versatility of Store Decor Co. Carved 
              | cartoon animals provide a wonderful ‘gateway’ to the Dallas Zoo and have helped to make this new restaurant a whopping 
              | success. Another is located on Montfort @ I-635 with giant size hamburgers, French fries, and a larger than life Ronald 
              | McDonald.
            h6 Digital and Beyond…
            p
              | 3M Company of Minnesota was the first to make available to U.S. firms the use of a Wide Format Printer using electrostatic 
              | technology. Potts felt that since product merchandising was ‘visual’, what better way to show your product to buyers 
              | than with a large, colorful picture? January 1996 found Potts and his key employees at the 3M Plant in St. Paul, MN 
              | studying the use of such machines. The firm purchased its first Scotchprint machine for a whopping $360,000.00 in 1996 
              | and its second one for $420,000.00 in 2000. An Inkjet Printer was later purchased which will print in full color on 
              | banner material 10ft high by 160ft in length; or as long as the material is in a roll.  Robert Potts and the staff are 
              | constantly searching out other types of printers to aid in expanding their ‘visual graphics department’. The use of 
              | digital technology is a ‘God send’ to Store Decor Co. Examples of it are to be found in every store the firm designs 
              | and manufactures. Later additions to the firms list of digital printers include 3 Vutek 8 color machines and the changes 
              | keep appearing fast as Potts strives to provide a better service and product. Store Decor Co, with its 125 (plus or 
              | minus) employees, working in approximately 120,000 sq. ft., can provide all of these products from their plant at 
              | Rowlett, TX. Plus, its traveling teams of installers personally install all of the products in the client’s stores 
              | anywhere in the world.
            h6 It all began by the Grace of God and a desire to make things better.  
        .col-md-2
    span#contPage.hidden
      div.col-md-12
        .text-center
          p(style="margin-top: 20px") 
            | Thank you for your interest in The Store Decor Company.
            br
            | 5050 Boyd Boulevard
            br
            | Rowlett, TX. 75088-3924
            br
            | Phone: (800) 831-3267, (972) 475-4404
            br
            | For more info email us at: mailto:vision@thestoredecor.com or complete the form below.
      div.col-md-12
        .col-md-1
        .col-md-10
          iframe(width="101%" height="450" frameborder="0" style="border:0;" src="https://www.google.com/maps/embed/v1/place?q=5050%20Boyd%20Blvd%2C%20Rowlett%2C%20TX%2075088&key=AIzaSyAH_jO5nL1kcE5nsba_T1rv1_Zp6CaMHp4" allowfullscreen)
        .col-md-1
  div.row.clearfix#bottom
    div.col-md-2 
    div.col-md-8
      h3 Contact Us at
        img#tinyLogo(src="../../../assets/images/logo_transp.png")
      div.wBorder.hundredPercent.row.clearfix
        div.col-md-4#inputColumn
          .col-md-12#inputs
            input(type="text" placeholder="name")
            input(type="text" placeholder="company")
            input(type="text" placeholder="phone")
            input(type="text" placeholder="e-mail")
            input(type="text" placeholder="city")
            input(type="text" placeholder="state")
        div.col-md-8
          textarea.hundredPercent(placeholder=" How can we help you?")
        .row.clearfix
          .col-md-12
            #submitButton Submit
    div.col-md-2

  
  div.row.clearfix
    #socialDiv.col-md-12.hidden
  
  div.row.clearfix#social.visible-lg.visible-md
    div.col-md-6
      div#socialButtons
        img(src="../../../assets/images/social/social_yt0.svg")
        img(src="../../../assets/images/social/social_tw0.svg")
        img(src="../../../assets/images/social/social_fb0.svg")
        img(src="../../../assets/images/social/social_gp0.svg")
        img(src="../../../assets/images/social/social_ln0.svg")
        img(src="../../../assets/images/social/social_pt0.svg")
        img(src="../../../assets/images/social/social_ig0.svg")
    div.col-md-6
      h3 Call Us: 800-831-3267  
  div.row.clearfix
    .col-md-12.column
      nav.navbar.navbar-default.navbar-fixed-top.navbar-custom(role='navigation')
        div#navbarBar
        .navbar-header
          button.navbar-toggle.visible-sm.visible-xs#smMenu(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        
        #navbar-collapse-1.collapse.navbar-collapse.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-lg.visible-md
              li.active#navHome
                h3 HOME
              li.active#navAbout
                h3 ABOUT US
              li.active#navContact
                h3 CONTACT
              div.circle
                img.img-rounded.logo(alt="main image" src="../../../assets/images/logo_orng.png")
        #navbar-collapse-1.collapse.navbar-collapse.navbar-right
          ul.nav.navbar-nav.rightBar.visible-lg.visible-md
            li.active#navCapa
              h3 CAPABILITIES
            li.active#navProd
              h3 PRODUCTS
            li.active#navServ
              h3 SERVICES
              
        #navbar-collapse-1.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-sm
            div.circle
              img.img-rounded.logo(alt="main image" src="../../../assets/images/logo_orng.png")
        #navbar-collapse-1.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-xs
            div.circle
              img.img-rounded.logo.moveUp(alt="main image" src="../../../assets/images/logo_orng.png")
