
div.container-fluid#wrapper
  div.row.clearfix#top
    .column.visible-lg.visible-md
      div.col-md-12#slide
        div.backButton
          h2 What Can We Do For You?
    .visible-sm.visible-xs
      div.col-md-12.column#slideSM
        div.backButton
          h2 What Can We Do For You?
  div.text-center.visible-lg.visible-md
    #tagline 
      h1 Your Brand. Your Vision.
  div.text-center.visible-sm.visible-xs
    #taglineSM
      h1 Your Brand. Your Vision.
  .visible-md.visible-lg
    div.row.clearfix#copyText
      div.col-md-1
      div.col-md-10
        p#topP.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFont
          p.text-center
            | Focused on fulfilling your vision for that "extraordinary customer experience". Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  .visible-sm.visible-xs
    div.row.clearfix#copyTextSM
      div.col-md-1
      div.col-md-10
        p#topPSM.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFontSM
          p.text-center
            | Focused on fulfilling your vision for that "extraordinary customer experience". Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  div.row.clearfix
    div.col-md-12#divider
      h3.text-center.visible-lg We specialize in the conquering the impossible! Here's just some of what we can do:
  div.row.clearfix#middle
    span#homePage
      div.col-md-1
      div.col-md-10
        .row.clearfix.visible-lg.visible-md
          div.col-md-1
          div.col-md-3#icons
            .row.clearfix
              .col-md-12.cataRow#capaRow
              .col-md-12.cataRow#prodRow
                img(src="../../../assets/images/home_slideshow/prod0.png")
              .col-md-12.cataRow#servRow
                img(src="../../../assets/images/home_slideshow/serv0.png")
          div.col-md-7#slideShow
            #slideshowText
              h1
            img(alt = "main image" src="../../../assets/images/home_slideshow/img1.jpg")#img0
            img(alt = "side image 0 here" src="../../../assets/images/home_slideshow/img2.jpg")#img1
            img(alt = "side image 1 here" src="../../../assets/images/home_slideshow/img3.jpg")#img2
            img(alt = "side image 2 here" src="../../../assets/images/home_slideshow/img4.jpg")#img3
          div.col-md-1
      div.col-md-1
    span#capaPage.hidden
      div.col-md-1
      div#list.col-md-2
      div#tiles.col-md-8
      div.col-md-1
    span#prodPage.hidden
      div.col-md-1
      div#tiles.col-md-8
      div#list.col-md-2
      div.col-md-1
    span#servPage.hidden
      div.col-md-12
        h1 Services Page
    span#abouPage.hidden
      div.col-md-12
        h1 About Us Page
    span#contPage.hidden
      div.col-md-12
        h1 Contact Page
        
  div.row.clearfix#bottom.visible-lg
        div.col-md-2 
        div.col-md-8
          h3.text-center Contact Us
          div.wBorder.hundredPercent.row.clearfix
            div.col-md-6#inputColumn
              .col-md-6
                .col-md-12 Name:
                .col-md-12 Company:
                .col-md-12 Phone:
                .col-md-12 e-mail: 
                .col-md-12 City:
                .col-md-12 State:
              .col-md-6#inputs
                input(type="text")
                input(type="text")
                input(type="text")
                input(type="text")
                input(type="text")
                input(type="text")
            div.col-md-6
              textarea.hundredPercent(placeholder=" How can we help you?")
            .row.clearfix
              .col-md-12
                #submitButton Submit
        div.col-md-2
          
  div.row.clearfix#bottomSmall.hidden
        div.col-md-2
        div.col-md-4 
        div.col-md-4
          div#wBorderSmall.hundredPercent.visible-xs.visible-sm.visible-md
            h3.text-center Request A Quote
            textarea.hundredPercent 
        div.col-md-2
        
  div.row.clearfix
    .col-md-12.column
      nav.navbar.navbar-default.navbar-fixed-top.navbar-custom(role='navigation')
        .navbar-header
          button.navbar-toggle.visible-sm.visible-xs(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        
        #navbar-collapse-1.collapse.navbar-collapse.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-lg.visible-md
              li.active#navHome
                h3 Home
              li.active#navAbout
                h3 About Us
              li.active#navContact
                h3 Contact
              div.circle
                img.img-rounded.logo(alt="main image" src="../../../assets/images/logo_orng.png")
        #navbar-collapse-1.collapse.navbar-collapse.navbar-right
          ul.nav.navbar-nav.rightBar.visible-lg.visible-md
            li.active#navCapa
              h3 Capabilities
            li.active#navProd
              h3 Products
            li.active#navServ
              h3 Services
        #navbar-collapse-1.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-sm
            div.circle
              img.img-rounded.logo(alt="main image" src="../../../assets/images/logo_orng.png")
        #navbar-collapse-1.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-xs
            div.circle
              img.img-rounded.logo.moveUp(alt="main image" src="../../../assets/images/logo_orng.png")
