
div.container-fluid#wrapper
  div.row.clearfix#top
    div.col-md-12.column#slide
  h1.text-center#tagline Your Brand. Your Vision.
  p.text-center#copyText
    | We are The Store Decor Company! Focused on fulfilling your vision for that "extraordinary customer experience".
    | Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
    | We specialize in the conquering the impossible! Here's just some of what we can do:
  div.row.clearfix#middle
    div.col-md-4.column#colCapa
      h3.blueShadows.text-center Capabilities
      img.img-rounded(alt="capa. image" src="../../../assets/images/home1.jpg")
    div.col-md-4.column#colServ
      img.img-rounded(alt="serv. image" src="../../../assets/images/home2.jpg")
      h3.blueShadows.text-center Services
    div.col-md-4.column#colProd
      h3.blueShadows.text-center Products
      img.img-rounded(alt="prod. image" src="../../../assets/images/home3.jpg")
  div.row.clearfix#bottom
        div.col-md-4
        div.col-md-4#quote
          div.wBorder.hundredPercent
            h3.text-center Request A Quote
            textarea.hundredPercent 
        div.col-md-4
        
  div.row.clearfix
    .col-md-12.column
      nav.navbar.navbar-default.navbar-fixed-top.navbar-custom(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.collapse.navbar-collapse.navbar-left.nav
          ul.nav.navbar-nav
              li.active
                a(href="#") Capabilities
              li.active
                a(href="#") Services
              li.active
                a(href="#") Products
              li.active
                a(href="#") About Us
              li.active
                a(href="#") Contact
              div.circle
                img.img-rounded#logo(alt="main image" src="../../../assets/images/logo_small.png")
        #navbar-collapse-1.collapse.navbar-collapse.navbar-right
          ul.nav.navbar-nav
            li.active
              a(href="#") Facebook
            li.active
              a(href="#") Twitter
            li.active
              a(href="#") Instagram
            li.active
              a(href="#") LinkedIn
            li.active
              a(href="#") Google+
