div.container-fluid
  div.row
    div#logo
      //h1 Logo
      
    div.container#up
      div#slideshow
        h1
          | This is the slideshow
      div.topOption.col-md-2
        h2 Capabilities
      div.topOption.col-md-2
        h2 Services
      div.topOption.col-md-2
        h2 Products
      div.topOption.col-md-2
        h2 About
      div.topOption.col-md-2
        h2 Contact
      
      
    hr
    div.container-fluid#down
      //div.col-md-3
        div#leftArrow
          h1
            | <-
      //div.col-md-6
      div.container-fluid#wrapper
        div.col-md-4
          div.option
            h2 Capabilities
        div.col-md-4
          div.option
            h2 Services
        div.col-md-4
          div.option
            h2 Products
      //div.col-md-3
        div#rightArrow
          h1
            | ->

  div#footer
    p Contact Us: 1-555-555-5555 Quote Facebook Twitter LinkedIn
