
div.container-fluid#wrapper
  div.row.clearfix#top
    div.col-md-12.column#slide
      div#backButton
        h2 Back to Home
  h1.text-center#tagline Your Brand. Your Vision.
  div.row.clearfix#copyText
    div.col-md-1
    div.col-md-10
      p.text-center
        | We are <b>The Store Decor Company!</b> <br><span id="smallFont">Focused on fulfilling your vision for that "extraordinary customer experience".
        | <br>Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
        | <br</span>
    div.col-md-1
  div.row.clearfix
    div.col-md-12#divider
      h3.text-center We specialize in the conquering the impossible! Here's just some of what we can do:
  div.row.clearfix#middle
    span#hideMe
      div.col-md-1
      div.col-md-10
        div.row.clearfix
          div.col-md-4#sections
            div.row.clearfix#rowCapa
              h1.text-center.sectionText Capabilities
            div.row.clearfix#rowServ
              h1.text-center.sectionText Products
            div.row.clearfix#rowProd
              h1.text-center.sectionText Services
          div.col-md-8#sectionInfo
            div#sectionImage
      div.col-md-1
        
  div.row.clearfix#bottom
        div.col-md-4
        div.col-md-4#quote
          div.wBorder.hundredPercent
            h3.text-center Request A Quote
            textarea.hundredPercent 
        div.col-md-4
        
  div.row.clearfix
    .col-md-12.column
      nav.navbar.navbar-default.navbar-fixed-top.navbar-custom(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.collapse.navbar-collapse.navbar-left.nav
          ul.nav.navbar-nav.leftBar
              li.active
                h3 Capabilities
              li.active
                h3 Services
              li.active
                h3 Products
              li.active
                h3 About Us
              li.active
                h3 Contact
              div.circle
                img.img-rounded#logo(alt="main image" src="../../../assets/images/logo.png")
        #navbar-collapse-1.collapse.navbar-collapse.navbar-right
          ul.nav.navbar-nav.rightBar
            li.active
              h3 Facebook
            li.active
              h3 Twitter
            li.active
              h3 Instagram
            li.active
              h3 LinkedIn
            li.active
              h3 Google+
