
div.container-fluid#wrapper
  div.row.clearfix#top
    div.col-md-12.column#slide
      div#backButton
        h2 What Can We Do For You?
  h1.text-center#tagline Your Brand. Your Vision.
  div.row.clearfix#copyText
    div.col-md-1
    div.col-md-10
      p.text-center
        | We are <b>The Store Decor Company!</b> <br><span id="smallFont">Focused on fulfilling your vision for that "extraordinary customer experience".
        | <br>Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
        | <br</span>
    div.col-md-1
  div.row.clearfix
    div.col-md-12#divider
      h3.text-center We specialize in the conquering the impossible! Here's just some of what we can do:
  div.row.clearfix#middle
    span#homePage
      div.col-md-1
      div.col-md-10
        div.row.clearfix
          div.col-md-2
          div.col-md-3#sections
            div.row.clearfix#rowCapa
              h1.text-center.sectionText Capabilities
            div.row.clearfix#rowProd
              h1.text-center.sectionText Products
            div.row.clearfix#rowServ
              h1.text-center.sectionText Services
          div.col-md-3#sectionInfo
            div#slider1_container
              div#slider1(u="slides")
                div
                  div#capaCopy
                    h3 capabilities copy here
                  img(u="image" src="../../../assets/images/home1.jpg")
                div
                  div#prodCopy
                    h3 products copy here
                  img(u="image" src="../../../assets/images/home2.jpg")
                div
                  div#servCopy
                    h3 services copy here
                  img(u="image" src="../../../assets/images/home3.jpg")
          div.col-md-2
          div.col-md-2
      div.col-md-1
    span#capaPage.hidden
      div.col-md-1
      div#list.col-md-2
      div#tiles.col-md-8
      div.col-md-1
    span#prodPage.hidden
      div.col-md-1
      div#tiles.col-md-8
      div#list.col-md-2
      div.col-md-1
    span#servPage.hidden
      div.col-md-12
        h1 Services Page
    span#abouPage.hidden
      div.col-md-12
        h1 About Us Page
    span#contPage.hidden
      div.col-md-12
        h1 Contact Page
        
  div.row.clearfix#bottom
        div.col-md-1
        div.col-md-1 Social Media
        div.col-md-8
          div.wBorder.hundredPercent
            h3.text-center Request A Quote
            //textarea.hundredPercent
        div.col-md-1 More Soc. Media 
        div.col-md-1
          
  div.row.clearfix#bottomSmall.hidden
        div.col-md-2
        div.col-md-4 Social Media Here
        div.col-md-4
          div#wBorderSmall.hundredPercent
            h3.text-center Request A Quote
            textarea.hundredPercent 
        div.col-md-2
        
  div.row.clearfix
    .col-md-12.column
      nav.navbar.navbar-default.navbar-fixed-top.navbar-custom(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.collapse.navbar-collapse.navbar-left.nav
          ul.nav.navbar-nav.leftBar
              li.active#navHome
                h3 Home
              li.active#navAbout
                h3 About Us
              li.active#navContact
                h3 Contact
              div.circle
                img.img-rounded#logo(alt="main image" src="../../../assets/images/logo.png")
        #navbar-collapse-1.collapse.navbar-collapse.navbar-right
          ul.nav.navbar-nav.rightBar
            li.active#navCapa
              h3 Capabilities
            li.active#navProd
              h3 Products
            li.active#navServ
              h3 Services
