
div.container-fluid#wrapper
  div.row.clearfix#top
    .column.visible-lg.visible-md
      div.col-md-12#slide
    .visible-sm.visible-xs
      div.col-md-12.column#slideSM
  div.text-center.visible-lg.visible-md
    #tagline 
      h1 Your Brand. Your Vision.
  .visible-lg
    div.row.clearfix.copyText
      div.col-md-1
      div.col-md-10
        p.topP.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFont
          p.text-center
            | Focused on fulfilling your vision for that "extraordinary customer experience". Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  .visible-md
    div.row.clearfix.copyTextM
      div.col-md-1
      div.col-md-10
        p.topP.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFontM
          p.text-center
            | Focused on fulfilling your vision for that "extraordinary customer experience". Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  .visible-sm
    div.row.clearfix#copyTextSM1
      div.col-md-1
      div.col-md-10
        p#topPSM1.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFontSM1
          p.text-center
            | Focused on fulfilling your vision for that "extraordinary customer experience". Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  .visible-xs
    div.row.clearfix#copyTextSM
      div.col-md-1
      div.col-md-10
        p#topPSM.text-center
          | We are <b>The Store Decor Company!</b> 
        span#smallFontSM
          p.text-center
            | Focused on fulfilling your vision for that "extraordinary customer experience". Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
      div.col-md-1
  div.row.clearfix
    div.col-md-12#divider
      h3.text-center.visible-lg We specialize in the conquering the impossible! Here's just some of what we can do:
  div.row.clearfix#middle
    span#homePage
      div.col-md-1
      div.col-md-10
        .row.clearfix.visible-lg.visible-md
          div.col-md-2
          div.col-md-8#slideShowContainer
            #slideShow
              #slideshowText
                h1
              img(alt = "main image" src="../../../assets/images/home_slideshow/img1.jpg")#img0
              img(alt = "side image 0 here" src="../../../assets/images/home_slideshow/img2.jpg")#img1
              img(alt = "side image 1 here" src="../../../assets/images/home_slideshow/img3.jpg")#img2
              img(alt = "side image 2 here" src="../../../assets/images/home_slideshow/img4.jpg")#img3
          div.col-md-2
        .row.clearfix.visible-lg.visible-md
          .col-md-2
          .col-md-8#slideShowButtonContainer
            .cataRow
              img#capaRow(src="../../../assets/images/home_slideshow/capa0.png")
              img#prodRow(src="../../../assets/images/home_slideshow/prod0.png")
              img#servRow(src="../../../assets/images/home_slideshow/serv0.png")
          .col-md-2
        .row.visible-sm.visible-xs#smRowContainer
          .col-md-12
            img.smCataRow#smCapaRow(src="../../../assets/images/home_slideshow/capa0.png")
          .col-md-12
            img.smCataRow#smProdRow(src="../../../assets/images/home_slideshow/prod0.png")
          .col-md-12
            img.smCataRow#smServRow(src="../../../assets/images/home_slideshow/serv0.png")
      div.col-md-1
    span#capaPage.hidden
      div.col-md-1
      div.col-md-10.visible-lg
          div.row.clearfix
            div.list.col-md-2
              #capaList
            div.tiles.col-md-8#capaTiles
            .col-md-2
      div.col-md-1
    span#prodPage.hidden
      div.col-md-1
      div.col-md-10.visible-lg
          div.row.clearfix
            div.list.col-md-2
              #prodList
            div.tiles.col-md-8#prodTiles
            .col-md-2
      div.col-md-1
    span#servPage.hidden
      div.col-md-12
        h1 Services Page
    span#abouPage.hidden
      div.col-md-12
        h1 About Us Page
    span#contPage.hidden
      div.col-md-12
        h1 Contact Page
        
  div.row.clearfix#bottom.visible-lg
        div.col-md-2 
        div.col-md-8
          h3 Contact Us at
            img#tinyLogo(src="../../../assets/images/logo_transp.png")
          div.wBorder.hundredPercent.row.clearfix
            div.col-md-4#inputColumn
              .col-md-12#inputs
                input(type="text" placeholder="name")
                input(type="text" placeholder="company")
                input(type="text" placeholder="phone")
                input(type="text" placeholder="e-mail")
                input(type="text" placeholder="city")
                input(type="text" placeholder="state")
            div.col-md-8
              textarea.hundredPercent(placeholder=" How can we help you?")
            .row.clearfix
              .col-md-12
                #submitButton Submit
        div.col-md-2
          
  div.row.clearfix#bottomSmall.visible-sm.visible-xs
        div.col-md-2
        div.col-md-4 
        div.col-md-4
          div#wBorderSmall.hundredPercent.visible-xs.visible-sm.visible-md
            h3.text-center Request A Quote
            textarea.hundredPercent 
        div.col-md-2
          
  div.row.clearfix#social.visible-lg.visible-md
    div.col-md-6
      div#socialButtons
        img(src="../../../assets/images/social/social_yt0.svg")
        img(src="../../../assets/images/social/social_tw0.svg")
        img(src="../../../assets/images/social/social_fb0.svg")
        img(src="../../../assets/images/social/social_gp0.svg")
        img(src="../../../assets/images/social/social_ln0.svg")
        img(src="../../../assets/images/social/social_pt0.svg")
        img(src="../../../assets/images/social/social_ig0.svg")
    div.col-md-6
      h3 Call Us: 800-831-3267  
  
  div.row.clearfix
    .col-md-12.column
      nav.navbar.navbar-default.navbar-fixed-top.navbar-custom(role='navigation')
        .visible-lg
          h1.logoText thestoredecor.com 
        div#navbarBar
        .navbar-header
          button.navbar-toggle.visible-sm.visible-xs#smMenu(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        
        #navbar-collapse-1.collapse.navbar-collapse.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-lg.visible-md
              li.active#navHome
                h3 HOME
              li.active#navAbout
                h3 ABOUT US
              li.active#navContact
                h3 CONTACT
              div.circle
                img.img-rounded.logo(alt="main image" src="../../../assets/images/logo_orng.png")
        #navbar-collapse-1.collapse.navbar-collapse.navbar-right
          ul.nav.navbar-nav.rightBar.visible-lg.visible-md
            li.active#navCapa
              h3 CAPABILITIES
            li.active#navProd
              h3 PRODUCTS
            li.active#navServ
              h3 SERVICES
              
        #navbar-collapse-1.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-sm
            div.circle
              img.img-rounded.logo.moveUp(alt="main image" src="../../../assets/images/logo_orng.png")
        #navbar-collapse-1.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-xs
            div.circle
              img.img-rounded.logo.moveUp(alt="main image" src="../../../assets/images/logo_orng.png")
