
div.container-fluid#wrapper
  div.row.clearfix#top
    div.col-md-12.column.visible-lg.visible-md#slide
      div#backButton
        h2 What Can We Do For You?
    div.col-md-12.column.visible-sm.visible-xs#slideSM
      div#backButton
        h2 What Can We Do For You?
  h1.text-center.visible-lg.visible-md#tagline Your Brand. Your Vision.
  h1.text-center.visible-sm.visible-xs#taglineSM Your Brand. Your Vision.
  div.row.clearfix#copyText
    div.col-md-1
    div.col-md-10.visible-lg
      p#topP.text-center
        | We are <b>The Store Decor Company!</b> 
      span#smallFont
        p.text-center
          | Focused on fulfilling your vision for that "extraordinary customer experience". Our experienced team understands the challenges you face in a competitive sales environment. We promise to integrate our knowledge and ability into your brand communication strategy to maximize your profitability goals.
    div.col-md-1
  div.row.clearfix
    div.col-md-12#divider
      h3.text-center.visible-lg We specialize in the conquering the impossible! Here's just some of what we can do:
  div.row.clearfix#middle
    span#homePage
      div.col-md-1
      div.col-md-10
        div.row.clearfix
          div.col-md-2
          div.col-md-1#sections.hidden
            div.row.clearfix#rowCapa
              img.sectionText(src="../../../assets/images/capaIcon.jpg")
            div.row.clearfix#rowProd
              img.sectionText(src="../../../assets/images/prodIcon.jpg")
            div.row.clearfix#rowServ
              img.sectionText(src="../../../assets/images/servIcon.jpg")
          div.col-md-6#sectionInfo.hidden
            div#slider1_container
              div#slider1(u="slides")
                div
                  div#capaCopy
                    h3 Our general attitude is there's nothing we can't create. Challenge us! Our Capabilities are unbounded.
                  img(u="image" src="../../../assets/images/home1.jpg")
                div
                  div#prodCopy
                    h3 We make Products that set the industry standard for quality, durability and effect!
                  img(u="image" src="../../../assets/images/home2.jpg")
                div
                  div#servCopy
                    h3 We endeavor to understand your needs and eliminate your worries. Utilize our Services to increase your probability of success.
                  img(u="image" src="../../../assets/images/home3.jpg")
          //div.col-md-2
          div.col-md-2
      div.col-md-1
    span#capaPage.hidden
      div.col-md-1
      div#list.col-md-2
      div#tiles.col-md-8
      div.col-md-1
    span#prodPage.hidden
      div.col-md-1
      div#tiles.col-md-8
      div#list.col-md-2
      div.col-md-1
    span#servPage.hidden
      div.col-md-12
        h1 Services Page
    span#abouPage.hidden
      div.col-md-12
        h1 About Us Page
    span#contPage.hidden
      div.col-md-12
        h1 Contact Page
        
  div.row.clearfix#bottom
        div.col-md-1
        div.col-md-1 
        div.col-md-8
          div.wBorder.hundredPercent
            h3.text-center Request A Quote
            //textarea.hundredPercent
        div.col-md-1 
        div.col-md-1
          
  div.row.clearfix#bottomSmall.hidden
        div.col-md-2
        div.col-md-4 
        div.col-md-4
          div#wBorderSmall.hundredPercent
            h3.text-center Request A Quote
            textarea.hundredPercent 
        div.col-md-2
        
  div.row.clearfix
    .col-md-12.column
      nav.navbar.navbar-default.navbar-fixed-top.navbar-custom(role='navigation')
        .navbar-header
          button.navbar-toggle.visible-sm.visible-xs(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        
        #navbar-collapse-1.collapse.navbar-collapse.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-lg.visible-md
              li.active#navHome
                h3 Home
              li.active#navAbout
                h3 About Us
              li.active#navContact
                h3 Contact
              div.circle
                img.img-rounded.logo(alt="main image" src="../../../assets/images/logo_orng.png")
        #navbar-collapse-1.collapse.navbar-collapse.navbar-right
          ul.nav.navbar-nav.rightBar.visible-lg.visible-md
            li.active#navCapa
              h3 Capabilities
            li.active#navProd
              h3 Products
            li.active#navServ
              h3 Services
        #navbar-collapse-1.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-sm
            div.circle
              img.img-rounded.logo(alt="main image" src="../../../assets/images/logo_orng.png")
        #navbar-collapse-1.navbar-left.nav
          ul.nav.navbar-nav.leftBar.visible-xs
            div.circle
              img.img-rounded.logo.moveUp(alt="main image" src="../../../assets/images/logo_orng.png")
