// centered navbar
@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}

#wrapper {
  position: relative
}

#colCapa,
#colServ,
#colProd {
  height: 350px

  h3 {
    margin-top: -348.8px
    color: white
    font-weight: bolder
    background: rgba(0,0,0,.5)
    position: relative
    border-radius: 3px
  }

  img {
    margin-top: 10px
    height: 100%
    width: 100%
    border: 1px solid
    position: relative
  }

  img:hover {
    opacity: 0.5
    cursor: pointer
  }
}

#slide {
  background-image: url("../../../assets/images/slide1.jpg")
  background-size: cover
  height: 300px
}

#logo {
  margin-top: 15px
}

#footer {
  border: hidden
}
