//color variables
color1 = #1352A5
color2 = #CBC7B7
color4 = #F1EFE6
color3 = #5C5C5C
color5 = #C1061B
color6 = #A3A3A3
color7 = #CFCFCF
color8 = #707070

// centered navbar
@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}

body {
  background: black
}

#wrapper {
  position: relative
  height: 100%
}

#colCapa,
#colServ,
#colProd {
  height: 350px

  img {
    background: black
    margin-top: 10px
    height: 100%
    width: 100%
    border: 2px solid color5
    border-radius: 10pt
    position: relative
  }

  img:hover {
  }
}

#colCapa,
#colProd {
  margin-top: -10px
}

#slide {
  background-image: url("../../../assets/images/slide1.jpg")
  background-size: cover
  height: 500px
}

#tagline {
  font-size: 40px
  font-style: italic
  font-weight: bolder
  color: color4
  text-shadow: 2px 2px color3
  margin-left: auto
  margin-right: auto
  right: 0
  left: 0
  margin-top: -60px
  background: rgba(0,0,0,0.5)
  position: absolute
}

#logo {
  position: absolute
  margin-left: -12px
  margin-top: 67px
}

#logo:hover {
  cursor: pointer
}

.circle {
  margin-left: auto
  margin-right: auto
  right: 0
  left: 0
  margin-top: -60px
	border-radius: 10%
	width: 160px
	height: 170px
  position: absolute
}

.navbar-custom {
  border-style: none
  background-color: black
  font-family: 'Oswald', sans-serif;
}

.bottom-column
{
    float: none
    display: table-cell
    vertical-align: bottom
}

#bottom {
  bottom: 0
  color: color4
  background-color: #404040
  height: 300px
}

.hundredPercent {
  width: 100%
  height: 100%
}

.wBorder {
  margin-top: 6px
  border: 2px solid
  border-color: color4
  border-radius: 20pt
  font-family: 'Oswald', sans-serif;

  h3 {
    color: color4
  }

  textarea {
    height: 215px
    width: 95%
    margin-left: 2.5%
    margin-bottom: 3%
    background-color: color4
    border: none
  }
}

.blueShadows {
  font-size: 32px
  font-family: 'Oswald', sans-serif;
  color: color3
  //text-shadow: 2px 2px black
  background-color: color5
  border-radius: 10px
}

.blueShadows:hover {
  cursor: pointer
  opacity: 0.5
}

#copyText {
  font-family: 'Oswald', sans-serif;
  color: color1
  font-weight: 400
  font-size: 35px
  margin-top: 10px
  height: 350px
  background: color4
  overflow: hidden

  p#topP {
    margin-top: 70px
  }
}

li.active h3 {
  color: color4
  padding: 3px
  margin-left: 15px
  margin-right: 15px
  margin-top: 10px
  font-size: 16px;
  font-weight: bolder
}

li.active h3:hover {
  cursor: pointer
  padding-top: 7px
}

.leftBar {
  margin-left: 40px
}

.rightBar {
  margin-right: 40px
}

span#smallFont {
  p {
    font-size: 24px
    color: black
  }
}

#middle {
  height: 450px
  background-color: color7
  margin-bottom: 10px
  overflow: hidden;

  .col-md-10 {
    background-color: color7
    height: 400px
    margin-top: 25px
  }
}

#rowCapa,
#rowServ,
#rowProd {
  height: 125px
  margin-left: -7px
}

#rowCapa {
  margin-top: 7px
  background-color: color6
}

#rowServ {
  margin-top: 5px
  background-color: color3
}

#rowProd {
  margin-top: 5px
  background-color: color8
}

#rowCapa:hover,
#rowServ:hover,
#rowProd:hover {
  background-color: color1
  cursor: pointer
  h1 {
    color: color4
  }
}

.sectionText {
  font-size: 64px
  font-family: 'Oswald', sans-serif
  color: color1
}

#sectionImage {
  margin-top: 7px
  height: 385px
  background-size: cover
}

#divider {
  height: 75px
  background-color: color1
  font-size: 32px
  color: color4
  font-family: 'Oswald', sans-serif
}

#capaPage,
#prodPage,
#servPage {
  height: 700px
  margin-top: 10px
  background-color: color4
  div {
    border: 3px solid color1
    height: 100%
  }
}

#backButton {
  font-family: 'Oswald', sans-serif
  color: color4
  margin-top: 60px

  h2 {
    padding: 10px
    width: 260px
    font-size: 24px
    background: black
  }

  h2:hover {
    cursor: pointer
    background: color4
    color: color1
  }
}

.hidden {
  display: none
}

#bottomSmall {
  color: color4
  background-color: black
  height: 300px
}

#wBorderSmall {
  margin-top: 6px
  border: 2px solid
  border-color: color4
  border-radius: 20pt
  font-family: 'Oswald', sans-serif;

  h3 {
    color: color4
  }

  textarea {
    height: 215px
    width: 95%
    margin-left: 2.5%
    margin-bottom: 3%
    background-color: color4
    border: none
  }
}

#slider1_container {
  position: relative
  top: 0px
  left: 0px
  width: 600px
  height: 300px
}

#slider1 {
  cursor: move
  position: absolute
  overflow: hidden
  left: 0px
  top: 0px
  width: 600px
  height: 385px
  margin-top: 7px
  margin-left: 10%
}

#capaCopy,
#prodCopy,
#servCopy {
  background: rgba(0,0,0,0.6)
  padding: 10px
  margin-top: -8px
  width: 600px
  height: 400px
  color: color4
  font-weight: bolder
  z-index: 10
  position: absolute

  h3 {
    margin-left: 30px
  }
}
