div.container-fluid
  div.row
    div#logo
      h1 Logo
      
    div.container#up
      div.topOption.col-md-4
        h2 Capabilities
      div.topOption.col-md-4
        h2 Services
      div.topOption.col-md-4
        h2 Products
      
      
    hr
    div.container#down
      div.col-md-4
        div.option
          h2 Capabilities
      div.col-md-4
        div.option
          h2 Services
      div.col-md-4
        div.option
          h2 Products
    
