
html,
.ng-scope
  height: 100%

.row
  height: 100%
  color: white
  font-size: 20pt
  font-weight: bold
  text-shadow: -3px 0 black, 0 1px black, 3px 0 black, 0 -3px black

  p
    margin-top: -15pt
    margin-bottom: -15pt
    height: auto

  .col-md-6 p,
  .col-md-6 hr
    width: 50%
    margin-left: 50%

  .col-md-6 hr
    width: 45%
    margin-left: 53%

  #title
    font-family: "Comic Sans MS", cursive, sans-serif
    font-size: 19pt
    margin-left: 1pt
    text-align: center
    color: white
    position: absolute
    margin-top: 15pt
    margin-bottom: 0

  div
    height: 100%
    min-height: 100%
    text-align: center

    div
      p
        margin: auto
        cursor: pointer
        padding-left: 10pt

  div:nth-of-type(1)
    background-color: #07123A
  div:nth-of-type(2)
    background-color: #172557
  div:nth-of-type(3)
    background-color: #07123A

#image
  background-color: black
  background-size: 100%
  background-repeat: no-repeat
  height: 40%
  width: 50%
  min-height: 40%
  cursor: pointer
  float: left
  overflow: visible

#imgButtons
  width: 50%
  height: 40%
  min-height: 40%
  margin-top: 40%
  position: absolute
  background-color: #07123A
  padding: 1em
  text-shadow: none

#imgsList
  background-color: #172557
  text-align: left
  width: 45%
  height: 85%
  min-height: 85%
  margin-left: 3%
  overflow: auto
  float: left

#imgsList p
  margin-top: 0.5em
  margin-left: 5pt
  width: 100%
  font-size: 12pt
  font-style: italic
  text-shadow: none

#imgsList p:hover,
#fabsList p:hover,
#catsList p:hover
  background-color: #536192

#imgsList p:nth-of-type(1)
  margin-top: 1em

#fabsList,
#catsList
  width: 95%
  height: 85%
  min-height: 85%
  margin-left: 3%
  overflow: auto

#fabsList
  background-color: #07123A

#catsList
  background-color: #172557

.btn
  padding: 14px 24px
  border: 0 none
  font-weight: 700
  letter-spacing: 1px
  text-transform: uppercase
  margin-left: 10px
  margin-right: 10px

.btn:focus,
.btn:active:focus,
.btn.active:focus
  outline: 0 none

.btn-primary.raised:active, .btn-primary.raised.active
  background: #33a6cc
  box-shadow: none
  margin-bottom: -3px
  margin-top: 3px

.btn.btn-primary.raised
  background-color: navy
  box-shadow: 0 5px 0 0 #172557

.btn.btn-primary.raised:hover
  background-color: #536192
  box-shadow: 0 5px 0 0 navy

#file
  visibility: hidden

.alert
  color: red
  font-size: 10pt
  font-weight: bolder
  text-shadow: none
  margin-top: -0.1em
